{% extends 'base.html' %}

{% load icons %}
{% load static %}
{% load project_extras %}




{% block title %}Projects{% endblock %}

{% block content %}
  <h2 class="mt-3 text-center" >Open Projects</h2>



  
  <table id="project-toggle-test" class="display" border="1" style="width:100%">
    <thead>
      <tr>
        <th>Project title</th>
        <th>Project budget</th>
        <th>Project description</th>
        <th>Posted by</th>
        <th>Project category</th>
        <th>Project location</th>
      </tr>     
    </thead>
    <tbody> 
    {% for project in projects %}
    {% if project.status == project.OPEN %}
     
      <div class="row projects-view">  
        <a class="open-project-view-item" href="{% url 'project_view' project_id=project.id%}">
      <tr>
        <td ><a href="{% url 'project_view' project_id=project.id%}">{{ project.title }} </a></td>
        <td>{{ project.total_budget }}</td>
        <td>{{ project.description|slice:"30" }}{% if project.description|length > 30 %}...{% endif %}</td>
        <td>{{ project.user.user.username }}</td>
        <td>{{ project.category }} </td>
        <td>{{ project.location }} </td>
      </tr>
    </a>
    </div>
      
    {% endif %}
    {% endfor %}
  </tbody> 
  </table>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script>
    $(document).ready(function() {
        var table = $('#project-toggle-test').DataTable();
    });
  </script>
{% endblock %}
